*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-background: #000000bd;
  --primary-white: #eee;
  --aside-gray: #d4d4d4;
}
body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'footer footer footer footer footer';
}

header {
  background-color: var(--black-background);
  grid-area: header;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  padding: 0 3rem;
}

aside {
  grid-area: aside;
  background-color: var(--aside-gray);
  min-width: 125px;
}

main {
  grid-area: main;
  background-color: var(--primary-white);
}

.footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 1.5rem; */
  color: var(--font);
  font-size: 1rem;
  background: var(--black-background);
  color: white;
}

.fa-github {
  margin-left: 1rem;
  color: var(--font);
  font-size: 1.4rem;
  transition: transform 0.6s ease-in-out;
  color: white;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
