*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-background: #000000bd;
  --primary-white: hsl(0, 0%, 96%);
  --nav-gray: hsl(0, 0%, 89%);
  --nav-gray-input: hsl(0, 0%, 93%);
  --nav-text-color: #363636;
  --green: hsl(160, 48%, 40%);
  --red: hsl(7, 48%, 40%);
}

body {
  position: relative;
}

.exit {
  cursor: pointer;
}

.body-container.blur {
  filter: blur(5px);
}

.body-container {
  transition: 0.25s all ease;
  height: 100vh;
  font-size: 1.25rem;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'footer footer footer footer footer';
}

.body-container > * {
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

header {
  background-color: var(--black-background);
  grid-area: header;
  display: flex;
  align-items: center;
}

header img {
  color: white;
  padding: 0 3rem;
  margin: -0.5rem 0;
}

nav {
  grid-area: nav;
  background-color: var(--nav-gray);
  min-width: 125px;
  padding: 4vw;
  color: var(--nav-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > ul {
  position: relative;
  max-width: 150px;
}

nav > ul > li {
  padding: 0.75rem 0;
  list-style: none;
  transition: 0.1s all ease;
  display: flex;
  justify-content: space-between;
}

nav > ul > li:hover,
nav > ul > li.active {
  color: var(--red);
  font-size: 1.375rem;
}

nav > ul > li:hover::before,
nav > ul > li:active::before,
nav > ul > li.active::before {
  content: '//';
  position: absolute;
  left: -1rem;
  color: var(--red);
}

.add-todo {
  display: inline-block;
  text-align: center;
  width: 4.3rem;
  padding: 0;
  color: white;
  font-size: 3.75rem;
  background-color: var(--black-background);
  border-radius: 50%;
  box-shadow: 0.2rem 0.5rem 1rem rgb(0 0 0 / 40%);
  cursor: pointer;
  transition: 0.1s all ease-out;
}

.add-todo:hover {
  transform: translateY(-2px);
}

main {
  grid-area: main;
  background-color: var(--primary-white);
  padding: 0 8vw;
}

.footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 1.5rem; */
  color: var(--font);
  font-size: 1rem;
  background: var(--black-background);
  color: white;
}

.fa-github {
  margin-left: 1rem;
  color: var(--font);
  font-size: 1.4rem;
  transition: transform 0.6s ease-in-out;
  color: white;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.prompt__div {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: min(95%, 1200px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 65vh;
  transition: 0.5s all ease;
}

.prompt__div.collapse,
.edit-prompt__div.collapse {
  z-index: -1;
  scale: 0;
}

.prompt__div > * {
  outline: 1px solid rgb(175, 175, 175);
}

.edit-prompt__div {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: min(95%, 1200px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 65vh;
  transition: 0.5s all ease;
}

.heading__div {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background: var(--black-background);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.side__div {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  background-color: var(--nav-gray-input);
  padding: 1rem;
}

.body__div {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: var(--primary-white);
}

.side__div ul li {
  list-style: none;
  padding: 0.5rem 0;
}

.side__div span:hover {
  cursor: pointer;
}

.side__div span:hover::before {
  content: '//';
}

.body__div {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.body__div > textarea {
  border: none;
  resize: none;
  width: 100%;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: var(--primary-white);
  font-size: 1.125rem;
}

#details,
#details-edit {
  margin-bottom: auto;
  font-size: 1rem;
  margin-top: 0.5rem;
}

input {
  padding: 0.25rem 0.75rem;
  border: 1px solid #3ba395;
  border-radius: 5px;
  color: #3ba395;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.body__div div span {
  font-size: 1.25rem;
}

.priority {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.priority span {
  margin-right: 1rem;
}

.priority-btns,
.edit-priority-btns {
  display: inline;
}

.priority input[type='radio'] {
  display: none;
}

#low_lbl,
#med_lbl,
#high_lbl,
#low_lbl-edit,
#med_lbl-edit,
#high_lbl-edit {
  padding: 0.125rem 0.5rem;
  display: inline-block;
  margin: 0 1.5rem 0 -5px;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#low_lbl,
#low_lbl-edit {
  border: 1px solid hsl(120, 79%, 25%);
  color: hsl(120, 79%, 25%);
}
#med_lbl,
#med_lbl-edit {
  border: 1px solid hsl(60, 100%, 40%);
  color: hsl(60, 100%, 40%);
}
#high_lbl,
#high_lbl-edit {
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

#low_lbl:hover,
#low_lbl.priority-active,
#low_lbl-edit:hover,
#low_lbl-edit.priority-active {
  background: hsl(120, 79%, 25%);
  color: white;
}

#med_lbl:hover,
#med_lbl.priority-active,
#med_lbl-edit:hover,
#med_lbl-edit.priority-active {
  background: hsl(60, 100%, 40%);
  color: white;
}

#high_lbl:hover,
#high_lbl.priority-active,
#high_lbl-edit:hover,
#high_lbl-edit.priority-active {
  background: hsl(0, 100%, 40%);
  color: white;
}

#submit__btn,
#edit__btn,
.details__btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #3ba395;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #3ba395;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: auto;
}

#submit__btn:hover,
.details__btn:hover {
  background-color: #3ba395;
  color: white;
}

.details__btn.hidden {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  background: hsl(0, 0%, 93%);
  padding: 0.5rem;
}

.todo-item.hide {
  display: none;
}

.check-box {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #3ba395;
  border-radius: 3px;
}

.check-box.checked {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  background: url(../assets/check.png), #3ba395;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-text-title.checked {
  text-decoration: line-through;
  color: hsl(0, 0%, 45%);
}

.item-due-date.checked {
  color: hsl(0, 0%, 45%);
}

.edit-icon.checked > svg {
  fill: hsl(0, 0%, 45%);
}

.delete-icon.checked > svg {
  fill: hsl(0, 0%, 45%);
}

.todo-item .right,
.todo-item .left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.todo-item .left {
  gap: 1.5rem;
  margin-left: 0.25rem;
}

.todo-item.high {
  border-left: 4px solid hsl(0, 100%, 40%);
}

.todo-item.med {
  border-left: 4px solid hsl(60, 100%, 40%);
}

.todo-item.low {
  border-left: 4px solid hsl(120, 79%, 25%);
}

.item-due-date {
  max-width: 4ch;
  font-size: 1rem;
  margin: 0 0.25rem;
}

.delete-icon > svg,
.edit-icon > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.delete-icon > svg:hover,
.edit-icon > svg:hover {
  fill: #3ba395;
}

.edit-prompt__div .body__div {
  border: 1px solid hsl(0, 0%, 75%);
}

.exit-edit {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.details-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  max-height: 300px;
  margin: auto;
  padding: 2rem;
  transition: all 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.054);
}

.details-popup.collapse {
  z-index: -1;
  scale: 0;
}

.exit-details {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.li-number {
  width: 1.35rem;
  height: 1.35rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #974035b8;
  background-color: #974035b8;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: #f7f7f7;
  pointer-events: none;
}

.li-number.hide {
  display: none;
}
